# Ignore node_modules
node_modules/

# Ignore build output
dist/
build/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore logs
logs/
*.log

# Ignore IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific files or directories
secret.ts

